$main-font: 'Roboto', sans-serif;
$page-background: linear-gradient(to right, #3533cd, #000);

$form-text-color: rgb(95, 95, 95);
$main-background: #fafafa;

$border-table-color: rgb(183, 183, 183);
$th-background: rgb(42, 42, 207);


$text-color-default: #efefef;
$text-color-second: #000;

$primary-color: #3533cd;
$button-hover-background: #2220b5;

$table-text-color: rgb(95, 95, 95);