@use 'variables';
@use 'mixins';

*{
    box-sizing: border-box;
}

body{
    background-image: variables.$main-background;
    font-family: variables.$main-font;
}

h1{
    color: variables.$text-color-second;
}

#bar{
    height: 10vh;
}

#bar-content{
    padding: 1.6em;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    img:hover{
        cursor: pointer;
    }
    h1{
        font-weight: 700;
        font-size: 1.2em;
    }
}

#display-values{
    display: flex;
    width: 60%;
    border: 1px solid variables.$border-table-color;
    padding: .9em .5em;
    border-radius: .7em;
    justify-content: space-between;
    color: variables.$table-text-color;
    align-items: center;
    p{
        font-weight: 300;
    }

    div{
        color: variables.$text-color-second;
        padding: .3em;
        transition: background .25s ease-in-out;
    }

    img{
        width: 1.4em;
    }

    #eyesClosed{
        display: none;
    }
}

main{
    height: 85vh;
    padding: 1.6em;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    overflow: auto;
    position: relative;
}

#box-fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 45px);
    gap: 0 4px;
    color: variables.$form-text-color;
    overflow: hidden;
    transition: all .5s ease-in;
    height: 300px;

    input{
        @include mixins.theme_input;
    }

    label{
        padding: 1.5em 0 0em 0em;
        font-weight: 300;
        font-family: 'Inter';
    }

    input[type="text"]{
        grid-column: 1 / 3;
    }
    
    input[type="number"]{
        grid-row: 4 / 5;
    }
    
    input[type="date"]{
        grid-row: 4 / 5;
    }
}

button{
    @include mixins.theme_button;
}

#add{
    grid-column: 1 / 2;
}

#acessFullTable{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    justify-content: center;
    padding: .5em;
    gap: 10px;
    width: auto;
    border: 1px solid variables.$form-text-color;
    border-radius: .5em;
    width: 12em;
    margin: 0 auto 1em auto;
    transition: letter-spacing .2s ease;
    img{
        width: 1.2em;
    }
    &:active{
        cursor: pointer;
        letter-spacing: 1.2px;
    }
}

table{
    width: 100%;
    color: variables.$text-color-second;
    overflow: scroll;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;

    th{
        font-size: .8em;
        padding: 1.5em .6em;
        color: variables.$text-color-default;
        background-color: variables.$primary-color;
        // border: 1px solid variables.$button-hover-background;
        text-transform: uppercase;
    }

    #th1{
        border-top-left-radius: 1em;
    }

    #th4{
        border-top-right-radius: 1em;
    }

    td{
        font-size: 1em;
        text-align: center;
        padding: .8em 0;
        border: 1px solid variables.$border-table-color;
        vertical-align: middle;
        img{
            width: 1.9em;
            padding: .3em;
            &:hover{
                cursor: pointer;
            }
        }

        
    }

    tr{
        background-color: rgb(255, 255, 255);
    }

    tr:nth-child(odd){
        background: #f4f4f4;
    }

    img{
        background: variables.$primary-color;
        border-radius: .2em;
        margin: .1em;
    }
}

#tfooter{
    background: variables.$primary-color;
    color: variables.$text-color-default;
    border-bottom-left-radius: 1em;
}

#ammountBill{
    background: variables.$primary-color;
    color: variables.$text-color-default;
    border-bottom-right-radius: 1em;
}

